{% load static %}

<footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box" id="p-logo">
        <figure>
          <a href="{% url 'index' %}">
            <img
              src="{% static 'media/LOGOTIPO ECC.png' %}"
              alt="El Club de los Combos"
            />
          </a>
        </figure>
      </div>
      <div class="box" id="p-desc">
        <h2>Sobre Nosotros</h2>
        <p>
          ¡Bienvenido a El Club de los Combos! Aquí, conectamos a personas
          apasionadas por el deporte y la competencia, brindándoles un espacio
          donde pueden encontrarse, interactuar y organizar emocionantes
          enfrentamientos.
        </p>
        <p>
          Únete a nuestra comunidad y descubre nuevos contrincantes mientras
          desafías tus límites en el ring. ¡Prepárate para la acción y haz
          historia con cada combate!
        </p>
      </div>
      <div class="box" id="p-social">
        <h2>Siguenos</h2>
        <div class="social">
          <p><a href="https://www.facebook.com/">Facebook</a></p>
          <p><a href="https://www.instagram.com/">Instagram</a></p>
          <p><a href="https://twitter.com/">Twitter</a></p>
          <p><a href="https://www.youtube.com/">Youtube</a></p>
        </div>
      </div>
    </div>

    <div class="grupo-2">
      <small
        >&copy; 2024 <b>El Club de los Combos</b> - Todos los Derechos
        Reservados.</small
      >
    </div>
  </footer>